<h2>Liste des Contrats</h2>
<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
<p *ngIf="successMessage" class="success">{{ successMessage }}</p>

<div>
  <button (click)="addContrat()">Ajouter Contrat</button>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher par numéro, nom ou prénom" (input)="searchContrats()">
  <button (click)="exportToCSV()">Exporter en CSV</button>
  <button (click)="printContracts()">Imprimer</button>
</div>

<table>
  <thead>
    <tr>
      <th>Numéro</th>
      <th>Client</th>
      <th>Conducteur</th>
      <th>Véhicule</th>
      <th>Date de Prise</th>
      <th>Date de Retour</th>
      <th>Total TTC</th>
      <th>Reste</th>
      <th>État</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contrat of filteredContrats">
      <td>{{ contrat.numero }}</td>
      <td>{{ contrat.client }}</td>
      <td>{{ contrat.conducteur }}</td>
      <td>{{ contrat.vehicule }}</td>
      <td>{{ contrat.date_prise | date }}</td>
      <td>{{ contrat.date_retour ? (contrat.date_retour | date) : 'N/A' }}</td>
      <td>{{ contrat.total_ttc | currency }}</td>
      <td>{{ contrat.reste ? (contrat.reste | currency) : 'N/A' }}</td>
      <td>{{ contrat.etat }}</td>
     <td>
  <button (click)="viewDetails(contrat)">Voir</button>
  <button (click)="editContrat(contrat)">Modifier</button>
  <button (click)="deleteContrat(contrat)">Supprimer</button>
  <button *ngIf="contrat.etat !== 'annule'" (click)="annulerContrat(contrat)">Annuler</button> <!-- Bouton Annuler -->
</td>

    </tr>
  </tbody>
</table>
